<div class="channel-item">
    <span class="info" [tooltip]="HtmlContent" content-type="template">i</span>
</div>

<ng-template #HtmlContent>
    <div class="tooltip-wrapper">
        <div class="header-row">
            <h1> Россия 1</h1>
            <img src="assets/images/1.png" alt="">
        </div>
        <div class="description">
            Общероссийский государственный телеканал. 
            Входит в состав Всероссийской государственной 
            телевизионной и радиовещательной компании (ВГТРК)
        </div>
    </div>
</ng-template>
   
