<section class="page-wrapper">

  <div class="header-row">
    <div class="header-row-filter">
      <mat-tab-group animationDuration="0ms">
        <mat-tab label="First"></mat-tab>
        <mat-tab label="Second"></mat-tab>
        <mat-tab label="Телеканалы"></mat-tab>
      </mat-tab-group>
    </div>
    <div class="header-row-sort">
      <app-custom-dropdown [control]="sortControl" [options]="sortOptions"></app-custom-dropdown>
      <app-custom-dropdown [control]="filterControl" [options]="genres"></app-custom-dropdown>
    </div>
  </div>

  <div class="page-content">
    <app-channels-list></app-channels-list>
  </div>
</section>